@charset "UTF-8";
 body
 {
  background-image:url(IMG_0963[1].JPG);
background-color:#ff99ff;
  background-repeat:repeat-x;
}

 h1{
 font-size:7.0em;
 color:#3366ff;
 text-align:center;
 }

p{
 font-size:5.0em;
 color:#3366ff;
 line-height:2.02m;
}

p span{
 font-size:7.0em;
 color:#3366ff;
}
 
#foo{
 font-size:3.0em;
 color:#009900;
  border:#0000ff 3px dotted;
  border-left:#114514 20px solid;
  margin-bottom:0;
  padding:5px 10px;
 }
 .goroku{
 font-size:2.0em;
 color:#b6ff01;
 line-height:1.55em;
 }
